    body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  
  .container {
    width: 50%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 20px;
  
  }
  
  .header {
    text-align: center;
    background-color: #efb7ee;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    color: white;

  }
 

  
  
  
  h2 {
    margin-bottom: 20px;
    color: #333333;
  }
  
  label {
    display: inline-block;
    text-align: left;
    width: 100px;
  }
  form{
    background-color: #ecdaef;
}
  
 
  
  